.card{
        margin-top: 10px;
        border-radius: 20px;
        border: 1px solid ;
        border-width: 1px;
        border-style: "solid";
        border-color: "#000";
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        min-height: 50vh;
        -webkit-box-shadow: 5px 5px 15px 5px #577DFF; 
        box-shadow: 5px 5px 15px 5px #577DFF;
}
.image{
        height: 250px; width: 150px
}
.card:hover{
        width: 95vw;
        /* height: 60vh; */
}
.dec{
text-align: center;
}